h2 {
	color: darkgrey;
	text-align: center;
	margin-top: 50px;
	padding-top: 3%;
}

/*Estilo para el formulario*/
#section-form form {
	width: 350px;
}

#section-form {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

#cont-btn {
	display: flex;
	justify-content: center;
}

body {
	background-image:url("wp4016022.jpg"); 
	background-size: 100% auto; 
	background-repeat: no-repeat; 
   
}